{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="article-meta">
    <span>
        <i class="far fa-edit"></i>
        {{ dateFormat "Jan 2, 2006" .PublishDate }}
    </span>
    <span>
        <i class="far fa-clock clock"></i>
        {{ .ReadingTime }} min read
    </span>
</div>
<h1 class="article-title">{{ .Title }}</h1>

<!-- Post Featured Image -->
{{with .Params.image}}
<img class="featured-image img-fluid" src="{{ . | urlize | relURL }}" alt="thumbnail for this post">
{{end}}
<!-- End Featured Image -->

<!-- Post Content -->
<article>
    {{ .Content}}
</article>

{{ if .Params.comments }}
{{- partial "single-partials/comments.html" . -}}
{{ end }}
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}