{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="landing">
    <header>
        {{ with .Site.Params.index.picture }}
        <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
        {{ end }}
        <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
    </header>

    <section>
        {{ with .Site.Params.index.subtitle }}
        <h3 class="index-sub">{{ . }}</h3>
        {{ end }}
        {{ with .Site.Params.index.mdtext }}
        <h6 class="index-text">{{ . | markdownify }}</h6>
        {{ end }}
    </section>

    <section>
        {{ with .Site.Params.social.github }}
        <a href="https://github.com/{{.}}" class="social-icon"><i class="fab fa-github" aria-hidden="true"></i></a>
        {{ end }}
        <!-- {{ with .Site.Params.social.linkedin }}
        <a href="https://linkedin.com/in/{{.}}" class="social-icon"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.social.xing }}
        <a href="https://www.xing.com/profile/{{.}}" class="social-icon"><i class="fab fa-xing" aria-hidden="true"></i></a>
        {{ end }} -->
        {{ with .Site.Params.social.twitter }}
        <a href="https://www.twitter.com/{{.}}" class="social-icon"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        {{ end }}
    </section>
</div>
{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}