:root {
    --colorHighlight: #27ae60;
    --colorHighlightHover: #2ecc71;
    --colorText: rgb(10, 10, 10);
    --colorBorder: rgba(10, 10, 10, 0.1);
    --colorLightText: rgb(10, 10, 10, 0.6);
    --colorBackground: white;
    --colorLightBackground: rgb(235, 235, 235);
}

:root[data-theme="dark"] {
    --colorHighlight: #27ae60;
    --colorHighlightHover: #2ecc71;
    --colorText: rgb(245, 245, 245);
    --colorLightText: rgb(245, 245, 245, 0.6);
    --colorBorder: rgba(245, 245, 245, 0.1);
    --colorBackground: #303030;
    --colorLightBackground: #697174;
}

@import "mixins";
@import "navbar";
@import "theme";

body {
    margin: 0;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: var(--colorBackground);
    color: var(--colorText);
}

a {
    text-decoration: none;
    color: var(--colorHighlight);

    &:hover {
        color: var(--colorHighlightHover);
    }
}

.content-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.landing {
    text-align: center;

    .social-icon {
        font-size: 2rem;
        padding-right: 10px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    a {
        color: var(--colorLightText);
        transition: color ease-in-out 0.1s;

        &:hover {
            color: var(--colorText);
        }
    }

    h3 {
        font-size: 1.5rem;
        color: var(--colorLightText);
    }
}

article {
    overflow: hidden;
    font-family: Merriweather;
    font-size: 1.2rem;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    img {
        display: block;
        margin: 40px auto;
        max-width: 95%;
        @include card(1);
    }

    blockquote {
        position: relative;
        color: var(--colorLightText);

        a {
            color: var(--colorLightText);
        }

        &:before {
            content: "“";
            position: absolute;
            top: 0;
            left: -40px;
        }

        &:after {
            content: "”";
            position: absolute;
            bottom: 0;
            right: -40px;
        }
    }

    code {
        display: block;
        font-family: "Roboto Mono", monospace;
        background: var(--colorLightBackground);
        border-radius: 5px;
        border: 1px solid var(--colorLightBackground);
        padding: 3px;
    }
}

.article-meta {
    margin-top: 20px;
    color: var(--colorLightText);

    span {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.article-title {
    margin-top: 15px;
    margin-bottom: 0;
}

.recent-posts {
    a {
        text-decoration: none;
        color: var(--colorText);
    }

    .post {
        display: block;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 10px;
        transition: all ease-in-out 0.1s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            border: 1px solid var(--colorBorder);
        }

        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 2rem;
        }

        .post-meta {
            display: flex;
            justify-content: space-between;
            color: var(--colorLightText);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .content-wrapper {
        width: 95%;
    }

    article {
        font-size: 1rem;
    }

    .article-title {
        font-size: 1.8rem;
    }
}
