<!-- begin post -->
<a class="post" href="{{ .Permalink }}">
    <!-- <div class="maxthumb">
        <a href="{{ .URL }}">
            {{with .Params.image}}
            <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
            {{end}}
        </a>
    </div> -->
    <h3>{{ .Title }}</h3>
    <p class="post-summary">{{ .Summary }}</p>
    <div class="post-meta">
        <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }}</span>
        <span class="reading-time">{{ .ReadingTime }} min read</span>
    </div>
</a>
<!-- end post -->