<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar">
    <div class="navbar-inner content-wrapper">
        <div class="navbar-brand">
            <a href="{{ .Site.BaseURL }}/"><img src="{{ .Site.Params.logo | urlize | relURL }}" alt="logo"></a>
        </div>
        <ul class="navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a class="nav-link" href="{{ .URL }}">{{ .Name | title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
<!-- End Navigation
================================================== -->